.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-modal {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    position: relative;
    width: 1000px;
    max-width: 90%;
    max-height: 90%;
    min-height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.close-button {
    position: fixed;
    top: 120px;
    right: 200px;
    background: #f44336;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    z-index: 2;
}


.close-button:hover {
    background: #d32f2f;
}

.confirm-button {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 1;
}


.add-modal h1 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
